.account-default {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 28px 0;
    gap: 28px;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--rsblack);
    color: var(--rswhite);
    flex-grow: 1;
}
